_targets/
_testing/
data/2_INTERIM
data/3_MERGED
data/actinet
data/GGIR/output_WAVES-FIELD
data/GGIR/output_WAVES-VISIT
data/stepcount
data/walmsley
logs/
reports/
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
